# place in /etc/systemd/system/whatever.service and install with `systemd install whatever.service`
# note that if you change this file you will need to run `systemctl daemon-reload` to get systemd to notice
[Unit]
Description=service for the Player

# After networking because we need that
After=network.target

[Service]

# Simple services don't do any forking / background nonsense
Type=simple

# User with which to run the service
User=pi

# Any setup we need to do, specifying the shell because otherwise who knows what's up
ExecStartPre=/bin/bash -c 'echo "hello world from the Player prestart"'

StandardOutput=append:/home/pi/music-player/stdout.txt
StandardError=append:/home/pi/music-player/stder.txt

# Set the  working directory for  the application
WorkingDirectory=/home/pi/music-player

EnvironmentFile=/etc/systemd/system/music-player.env

# Command to run the application
ExecStart=python3 idk.py


# Restart policy, only on failure
Restart=on-failure

[Install]
# Start the service before we get to multi-user mode
WantedBy=multi-user.target